<div class="card highlight-card card-small">

    <svg id="loading-truck" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <title>Rocket Ship</title>
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#eeb111"/>
        <g transform="translate(175 765) scale(4)" fill="white">
          <text>&#xe516;</text>
        </g>
      </g>
    </svg>

    <span>Products for {{warehouseName}}</span>
    
</div>

<div style="padding-top: 30px;"></div>

<table mat-table [dataSource]="apiProductSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8 product-table">
      
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
    <td mat-cell *matCellDef="let element">{{element.category}}</td>
  </ng-container>

  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
    <td mat-cell *matCellDef="let element">${{element.cost}}</td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
    <td mat-cell *matCellDef="let element">{{element.stock}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
